*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/*common use*/
.row{
    display: flex;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#01a783 17% ,#ced6d9 17%);
    justify-content: center;
    align-items: center;
}

.app-container{
    width: 1300px;
    height: 700px;
    background-color: white;
}
/*--------------images-------------*/
.my-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.my-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.person-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.person-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/*-------------------left style--------------------------------------*/
.left-app{
    width: 34%;
    height: 100%;
    border-right: 1px solid lightgrey;
    flex-direction: column;
}
.left-header{
    background-color: #eaeaea;
    width: 100%;
    height: 7.5%;
    padding: 10px 15px;
    align-items: center;
}
#left-story,#new-message{
    color: #536069;
    margin-right: 20px;
    font-size: 1.2rem;
}
#left-menu{
    color: #536069;
    font-size: 1.2rem;
}
.my-name{
    flex-grow: 1;
}
.notification{
    background-color: #8edafc;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
}
.bell-icon{
    background-color: #f2fbff;
    color: #8edafc;
    font-size: 1.3rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#active-notification{
    color: #4f7485;
}
.search-bar{
    width: 100%;
    padding: 10px 5px;
    align-items: center;
    background-color: #fafafa;
}
.search{
    width: 20%;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-right: none;
}
#search-btn{
    border: 1px solid lightgray;
    height: 30px;
    border-right: none;
    width: 20%;
    background-color: transparent;
    color: #b6b9bb;

    
}
.search-field{
    width: 80%;
}
.search-chat{
    width: 80%;
    height: 30px;
    border: 1px solid lightgray;
}
.chats{
    flex-grow: 1;
    overflow-y: auto;
}
.chat{
    width: 100%;
    height: 13.5%;
    padding: 10px 15px;
    position: relative;
}
.object-of-text{
    border-bottom: 1px solid lightgray;
    flex-grow: 1;
}
.last-text{
    color: #b6b9bb;
}
.time{
    position: absolute;
    top: 10px;
    right: 15px;
}
/*-------------------rght style--------------------------------------*/
.right-app{
    width: 66%;
    height: 100%;
    flex-direction: column;
}
.right-header{
    background-color: #eaeaea;
    width: 100%;
    height: 7.5%;
    padding: 10px 15px;
    align-items: center;
}
#search-in-chat{
    color: #536069;
    margin-right: 20px;
    font-size: 1.2rem;
}
#right-menu{
    color: #536069;
    font-size: 1.2rem;
}
.who{
    flex-grow: 1;
}
.last-time-on{
    font-size: 0.75rem;
}
.chat-section{
    background-image: url(../img/mine.jpg);
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 50px 100px;
    padding-bottom: 0px;
}
.chat-input{
    background-color: #f3eeea;
    width: 100%;
    height: 65px;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
}
#emoji-btn{
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: #6b7376;
    
}
#send-text{
    width: 84%;
}
#send-text input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
}
#audio-text-btn{
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: #6b7376;
}
.send-btn{
    width: 8%;
    justify-content: center;
    align-items: center;
}
.chats-container{
    width: 100%;
    height: 100%;
}
.message-row{
    width: 100%;
    flex-direction: column;
    margin-bottom: 8px;
}
.sent{
    background-color: #d8fdd2;
    align-self: flex-end;
  
}
.content{
    width: 40%;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    
}
.received{
    background-color: #ffffff; 
}
.time-sent{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 0.75rem;
    color:#b6b9bb;
}