*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background:#b6b9bb40;
}
::-webkit-scrollbar-thumb{
    background:#69747834;
    border-radius: 10px;
}

/*common use*/
.row{
    display: flex;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#01a783 17% ,#ced6d9 17%);
    justify-content: center;
    align-items: center;
}

.app-container{
    width: 1300px;
    height: 93vh;
    background-color: white;
}
.active{
    background-color: #E9EBEB;
}
input:focus{
    outline: none;
}
/*--------------images-------------*/
.my-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.my-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.person-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.person-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/*-------------------left style--------------------------------------*/
.left-app{
    width: 34%;
    height: 100%;
    border-right: 1px solid lightgrey;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
.archive-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 6;
    left: -100%;
    opacity: 0;
    transition: 300ms;
    transition-delay: 0ms left,opacity 300ms;
    display: flex;
    flex-direction: column;
}
.archive-bar{
    padding: 15px 20px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}
.chats-archive{
    flex-grow: 1;
    position: relative;
}
.show-archive{
    left: 0;
    opacity: 1;
    transition: 200ms , opacity 200ms;
}
.archive-header{
    height: 14.5%;
    background-color: #008069;
    padding-top: 15%;
    padding-left: 5%;
}
.archive-header span{
    font-size: 1.2rem;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.archive-bar:hover{
    background-color: #b6b9bb;
}
.archive-bar span{
    margin-right: 10px;
    font-size: 1.1rem;
}
.archive-bar span:first-child{
    color: #2d9b80;
}
.archive-bar span:not(:first-child){
    font-weight: 300;
}
.left-header{
    background-color: #eaeaea;
    width: 100%;
    height: 7.5%;
    padding: 10px 15px;
    align-items: center;
}
#left-story,#new-message{
    color: #536069;
    margin-right: 20px;
    font-size: 1.2rem;
}
#left-menu{
    color: #536069;
    font-size: 1.2rem;
}
.my-name{
    flex-grow: 1;
}
.notification{
    background-color: #8edafc;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    position: relative;
}
.bell-icon{
    background-color: #f2fbff;
    color: #8edafc;
    font-size: 1.3rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#active-notification{
    color: #4f7485;
}
.search-bar{
    width: 100%;
    padding: 10px 5px;
    align-items: center;
    background-color: #fafafa;
}
.search{
    width: 20%;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-right: none;
}
#search-btn{
    border: 1px solid lightgray;
    height: 30px;
    border-right: none;
    width: 20%;
    background-color: transparent;
    color: #b6b9bb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    
}
.search-field{
    width: 80%;
}
.search-chat{
    width: 80%;
    height: 30px;
    border: 1px solid lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.chats{
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}
.chat{
    width: 100%;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    align-items: center;
    
}
.object-of-text{
    flex-grow: 1;
    overflow: hidden;
    height: 39px;
}
.last-text{
    color: #b6b9bb;
    overflow-y:hidden;
}
.time{
    position: absolute;
    top: 10px;
    right: 15px;
    opacity: 0.7;
    font-size: 0.7rem;
}
.close-notification{
    position: absolute;
    right: 15px;
    color: #6b7376;
}
.hide{
    display: none;
}
.chat-menu{
    position: absolute;
    right: 5px;
    bottom: 20px;
    align-items: center;


}
.chat-menu div i{
    color: #6b7376;
    opacity: 0.7;
}
.pinned i{
    transform: rotate(40deg);
}
.silenced{
    font-size: 0.9rem;
    margin-right: 5px;
}
.pinned{
    font-size: 0.9rem;
    margin-right: 5px;
}
.open-chat-menu{
    display: none;
}
.chat:hover .open-chat-menu{
    display: block;
}
.chat-options{
   position: absolute;
   right: 24px;
   background-color: white;
   display: none;
   padding: 5px 0px;
   z-index:2;
   border: 1px solid lightgray;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chat-options div{
    padding: 10px;
}
.chat-options div:hover{
    background-color: #ced6d9;
}
.show-chat-options{
    display: block;
}
/*-------------------rght style--------------------------------------*/
.right-app{
    width: 66%;
    height: 100%;
    flex-direction: column;
}
.right-header{
    background-color: #eaeaea;
    width: 100%;
    height: 7.5%;
    padding: 10px 15px;
    align-items: center;
}
#search-in-chat{
    color: #536069;
    margin-right: 20px;
    font-size: 1.2rem;
}
#right-menu{
    color: #536069;
    font-size: 1.2rem;
}
.who{
    flex-grow: 1;
}
.last-time-on{
    font-size: 0.75rem;
}
.chat-section{
    background-image: url(../img/mine.jpg);
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 50px 100px;
    padding-bottom: 0px;
}
.chat-input{
    background-color: #f3eeea;
    width: 100%;
    height: 65px;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
}
#emoji-btn{
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: #6b7376;
    
}
#send-text{
    width: 84%;
}
#send-text input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
}
#audio-text-btn{
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: #6b7376;
}
.send-btn{
    width: 8%;
    justify-content: center;
    align-items: center;
}
.chats-container{
    width: 100%;
    height: 100%;
}
.message-row{
    width: 100%;
    flex-direction: column;
    margin-bottom: 8px;
}
.sent{
    background-color: #d8fdd2;
    align-self: flex-end;
  
}
.content{
    width: 41%;
    padding: 10px 0px;
    padding-left: 7px;
    padding-right: 20px;
    border-radius: 10px;
    position: relative;
    word-wrap: break-word;
}
.received{
    background-color: #ffffff; 
}
.time-sent{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 0.75rem;
    color:#b6b9bb;
}
.menu-message{
    width: 190px;
    font-size: 0.9rem;
    position: absolute;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: -135px;
    opacity: 0;
    bottom:-72;
    z-index: 0;
    overflow: hidden;
    height: 0px;
    transition: ease-out 200ms;
}
.menu-message-right{
    right: 0;
}

.chevron{
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0;
    z-index: 1;
    color: #6b7376;
}
.content:hover .chevron{
    opacity: 1;
    transition: 300ms;
}
.info ,.delete-text{
    font-size: 1.1rem;
    padding: 15px;
}
.showOptions{
    height: 104px;
    padding: 5px 0px;
    opacity: 1;
    z-index: 4;
    overflow: hidden;
    transition: ease-out 300ms;
    
}
.info:hover{
    background-color: #ced6d9;
}
.delete-text:hover{
    background-color: #ced6d9;
}
.reaction{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    bottom: 3px;
    right: -230px;
    width: 194px;
    padding: 5px;
    opacity: 0;
    overflow: hidden;
    transition: 200ms;
    cursor: pointer;
}
.showReactions{
    opacity: 1;
    transition: 200ms;
}
.reaction-right{
    left: -230px;
}
.reaction span{
    padding: 5px;
    cursor: pointer;
}
.emote-toggle{
    position: absolute;
    bottom: 8px;
    font-size: 1.2rem;
    right: -30px;
    color: #6b7376b7;
    opacity: 0;
}
.emote-toggle-right{
    left: -30px;
}
.content:hover .emote-toggle{
    opacity: 1;
    transition: 300ms;
}
.emote{
    position: absolute;
    bottom: -8px;
    left: 5px;
}
