<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body class="row">
    <div id="app">
        
        <div class="app-container row">
            <!--left side of application-->
            <div class="left-app row">
                <div class="archive-container">
                    
                </div>
                <!--header left app column-->
                <div class="left-header row">
                    <div class="my-avatar">
                        <img src="img/avatar_io.jpg" alt=""> 
                    </div>
                    <div class="my-name">Caterina</div>
                    <div class="left-head-actions ">
                        <span id="left-story"><i class="fa-solid fa-spinner"></i></span>
                        <span id="new-message"><i class="fa-solid fa-message"></i></span>
                        <span id="left-menu"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
                <!--notification alert-->
                <section :class="notification==false ? 'hide':''">
                    <div class="notification row" >
                        <div class="bell-icon row">
                            <div><i class="fa-regular fa-bell-slash"></i></div>
                        </div>
                        <div class="notification-text">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <small><a id="active-notification"href="">Attiva notifiche desktop</a></small>
                        </div>
                        <div class="close-notification" @click="CloseNotification"><i class="fa-solid fa-xmark"></i></div>
                    </div>
                </section>
                <!--section bar row-->
                <div class="search-bar">
                    <form action="">
                        <button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input class="search-chat"type="text" placeholder="Cerca o inizia una nuova chat"  v-model="searchChat"@keyup="searchContact">
                    </form>
                </div>
                <!--archive section-->
                <div class="archive-bar">
                    <span><i class="fa-solid fa-box-archive"></i></span>
                    <span>Archiviate</span>
                </div>
                <!--all chats section-->
                <section class="chats">
                    <div class="chat row" :class="activeChat===index ? 'active':''" v-for="(contact,index) in contacts" @click="changeActive(index)"v-show="contact.visible||searchChat==''">
                        <div class="person-image">
                            <img :src="`img/avatar${contact.avatar}.jpg`" alt="">
                        </div>
                        <div class="object-of-text">
                            <div class="chat-name">{{contact.name}}</div>
                            <small class="last-text">
                                {{contact.messages[contact.messages.length-1].message}}
                            </small>
                            <small class="time">12:00</small>
                        </div>
                        <div class="chat-menu row">
                            <div class="silenced" v-show="contact.silenced">
                                <i class="fa-solid fa-volume-xmark"></i>
                            </div>
                            <div class="pinned"v-show="contact.pinned">
                                <i class="fa-solid fa-thumbtack"></i>
                            </div>
                            <div class="open-chat-menu" @click="OpenChatMenu(index)">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>  
                        <div class="chat-options" :class="contact.menu==true ? 'show-chat-options':''">
                            <div>Archivia chat</div>
                            <div>Disattiva notifiche</div>
                            <div>Elimina chat</div>
                            <div>Fissa chat</div>
                            <div>Non fissare Chat</div>
                        </div>
                    </div>
                    <!--<div class="chat-options">
                        <div>Archivia chat</div>
                        <div>Disattiva notifiche</div>
                        <div>Elimina chat</div>
                        <div>Fissa chat</div>
                        <div>Non fissare Chat</div>
                    </div>-->
                    
                    
                </section>
            </div>
            <!--right side of application-->
            <div class="right-app row">
                <!--right header-->
                <div class="right-header row">
                    <div class="my-avatar">
                        <img :src="`img/avatar${contacts[activeChat].avatar}.jpg`" alt=""> 
                    </div>
                    <div class="who">
                        <div class="subject-name">{{contacts[activeChat].name}}</div>
                        <div class="last-online">
                            <small class="last-time-on">
                                Ultimo accesso oggi alle 12:00
                            </small>
                        </div>
                    </div>
                    <div class="right-head-actions">
                        <span id="search-in-chat"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span id="right-menu"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
                <!--chat section-->
                <section class="chat-section">
                    <div class="chats-container">
                        <div class="message-row row" v-for="(message,index) in contacts[activeChat].messages">
                            <div class="content " :class="message.status">
                                {{message.message}}
                                <small class="time-sent">12:00</small>
                                <div class="menu-message"  :class="message.option==true ? 'showOptions':'',message.status=='sent' ? 'menu-message-right':''" >
                                    <div class="info">Message info</div>
                                    <div class="delete-text" @click="deleteText(index)">Elimina messaggio</div>
                                </div>
                                <div class="chevron" @click="OpenContentMenu(index)"><i class="fa-solid fa-chevron-down"></i></div>
                                <div class="emote-toggle":class="message.status=='sent' ? 'emote-toggle-right':''"><i class="fa-regular fa-face-smile" @click="OpenReactions(index)"></i></div>
                                <div class="reaction" :class="message.reactions==true ? 'showReactions':'',message.status=='sent' ? 'reaction-right':''">
                                    <span @click="addHeart(index)">❤</span>
                                    <span @click="addKiss(index)">😘</span>
                                    <span @click="addLaugh(index)">😂</span>
                                    <span @click="addSad(index)">😢</span>
                                    <span @click="addAngry(index)">😡</span>
                                    <span @click="addThumb(index)">👍</span>
                                </div>
                                <small class="emote">{{message.myEmote}}</small>
                            </div>                            
                        </div>
                        

                    </div>
                    
                </section>
                <div class="chat-input row">
                    <div class="send-btn row" >
                        <button id="emoji-btn"><i class="fa-regular fa-face-smile"></i></button>
                    </div>
                    <div id="send-text">
                        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="addNewMessage" v-model="newText" required>
                    </div>
                    <div class="send-btn row">
                        <button id="audio-text-btn"><i class="fa-solid fa-microphone"></i></button>
                    </div>
                </div>
            </div>



        </div>







    </div>
    
    <script src="js/contacts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>
</body>
</html>